@import "./_fonts"
@import "./_icones"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

html,body
    margin: 0px

header
    background: linear-gradient((#00000099),(#00000099)), url("../img/hero-bg.jpg")
    background-size: 100%
    background-repeat: no-repeat
    width: 100vw
    height: 50vw

   
    