@import "./_fonts"
@import "./_icones"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

html,body
    font-family: "Raleway Regular"
    margin: 0px
    img
        width: 100%
    .row
        margin: 0px
    p
        font-size: x-small
    h1
        font-family: "Satisfy"


header
    background: linear-gradient((#00000099),(#00000099)), url("../img/hero-bg.jpg")
    background-size: 100%
    background-repeat: no-repeat
    width: 100%
    height: 50vw
    a
        &:hover
            color: #ffb727 !important


section
    h2
        color: lightgrey
        opacity: 0.5
        z-index: -1

#About
    img
        width: 100%
        height: 100%

#Services,#Contact
    .card
        border: none
        box-shadow: 0 0 2px 5px #00000005
        div
            i
                border-radius: 50%
                background-color: #fff4df
                padding: 5px
        p
            color: grey

#Contact
    h5
        color: grey
    p
        i.fab
            background-color: white
            border-radius: 50%
            border: 1px solid grey
            padding: 5px

footer
    color: white
    background: linear-gradient((#00000099),(#00000099)), url("../img/footer-bg.jpg")
    background-size: 100%
    background-repeat: no-repeat
    width: 100vw
    height: 25vw
    p
        i.fab
            background-color: #ffb727
            border-radius: 50%
            padding: 5px
    .opacity-70
        opacity: 70%
    .arrowup
        top: 0px
        right: 5px
        i
            background-color: #ffb727
            padding: 5px
            border-radius: 2px
  